@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.icon,
.user-icon {
  height: 50px;
}

.header-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: #073a7e;
  overflow: hidden;
}

.active-load {
  color: #ffffff;
  font-size: 16px;
}

.profile-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fa-truck-fast {
  font-size: 30px;
  color: white;
  padding: 20px;
}

.fa-user {
  font-size: 25px;
  color: white;
  padding: 20px;
  text-align: right;
  float: right;
}

.user-name {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}

/* ____________________________MAIN PART____________________________*/

.origin-state,
.select-state,
.search-btn {
  height: 40px;
}

.origin-state {
  width: 120px;
  padding: 10px;
  text-align: left;
}

.select-state {
  width: 200px;
  padding: 10px;
}

.select-state,
.origin-state {
  background: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #798ba1;
  outline: 0;
  cursor: pointer;
  font-size: 15px;
}

select option {
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
}

.search-btn {
  padding: 0 10px 0 10px;
  font-size: 15px;
  text-transform: uppercase;
  background: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #073a7e;
  cursor: pointer;
  color: #073a7e;
}

.search-btn:hover {
  transition: 0.3s ease;
  background-color: #073a7e;
  color: white;
}

.left-search-area {
  padding: 20px 0 40px 20px;
}

.select-state,
.search-btn {
  margin-left: 15px;
}

.free-paid-profile-option {
  height: 45px;
  width: 100%;
  border-top: 1px solid #dadada;
  display: inline-flex;
  border-bottom: 1px solid #dadada;
}

.fa-lock,
.fa-check {
  font-size: 15px;
  margin-left: 10px;
}

.fa-lock {
  margin-right: 10px;
}

.free-loads-btn,
.expedite-pro-btn {
  height: 45px;
  background: none;
  border: none;
  color: black;
  width: auto;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.free-loads-btn {
  color: #798ba1;
}

.expedite-pro-btn {
  background-color: #073a7e;
  color: white;
}

.free-loads-btn:hover {
  transition: 0.3s ease;
  color: black;
  background-color: #c4c4c4;
}

.expedite-pro-btn:hover {
  background-color: #055bca;
  transition: 0.3s ease;
}

.num-jobs {
  display: inline-flex;
  margin-left: 10px;
}

/*_______________________DATA TABLE LEFT_______________________*/
.left-side-table-data {
  height: 100vh;
  width: 70%;
  position: fixed;
  overflow: scroll;
  left: 0;
}

#vehicle_icon {
  width: 100px;
  font-size: 25px;
  text-align: center;
  color: #073a7e;
}

.table-data {
  width: 100%;
  text-align: start;
}

th {
  height: 60px;
  text-align: start;
  border-bottom: 1px solid #dadada;
  font-weight: 400;
}

th,
td {
  padding: 0 20px;
}

.age {
  width: 5%;
}
.pickdate {
  width: 10%;
}

.origin {
  width: 15%;
}

.destination {
  width: 15%;
}

.broker {
  width: 35%;
}

.cs,
.dtp {
  width: 5%;
}

.vehicleType {
  width: 10%;
}

.inserted-data-table {
  height: 50px;
}

.inserted-data-table td {
  border-bottom: 1px solid #dadada;
}

.inserted-data-table:hover {
  background-color: #628bc9;
  transition: 0.2s ease;
  cursor: pointer;
  color: #fafafa;
}

/*_______________________RIGHT SIDE CARD_______________________*/

.right-side-card {
  height: 100%;
  width: 30%;
  position: fixed;
  background-color: #fafafa;
  right: 0;
  border-left: 1px solid #dadada;
}

.top-menu {
  height: 60px;
  background-color: #628bc9;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.offer-btn,
.call-btn {
  height: 40px;
  padding: 10px;
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
  border: none;
}

.offer-btn:hover,
.call-btn:hover {
  background-color: #a4c6f3;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
}

.offer-btn {
  width: 150px;
  color: #073a7e;
}

.fa-phone {
  width: 30px;
}

.fa-envelope,
.fa-phone {
  margin-right: 10px;
  font-size: 16px;
  color: #055bca;
}

/* destination part */

.destination-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  width: 95%;
  margin: auto;
  border-bottom: dashed #628bc9 1px;
}

.destination-part .fa-truck-moving {
  width: 200px;
  text-align: center;
  font-size: 50px;
  margin-top: -50px;
  color: #073a7e;
}

.cargo-details,
.place,
.date {
  text-align: left;
  font-size: 12px;
  width: 120px;
  overflow: hidden;
}

.place,
.date {
  margin-top: 10px;
}

.cargo-details {
  margin: auto;
  text-align: center;
  width: 150px;
  margin-top: 10px;
  font-size: 15px;
  color: #073a7e;
}

.fa-a,
.fa-b {
  font-size: 60px;
  position: relative;
  color: #073a7e;
}

.fa-b {
  text-align: right;
}

#dateB {
  text-align: right;
  font-weight: 400;
}

.date {
  font-weight: 400;
  font-style: italic;
}

.place,
.date {
  color: black;
}

.place {
  font-size: 15px;
}

#placeB {
  text-align: right;
}

.fa-arrow-right {
  font-size: 30px;
  margin-top: -40px;
  color: #073a7e;
}

.information-part {
  margin-top: 20px;
}

/* second part ( table information ) */

.data-table-spec {
  width: 95%;
  border-bottom: dashed 1px #628bc9;
  padding: 20px 0;
  margin: auto;
  align-items: center;
}

.th-details {
  height: 40px;
}

.td-details {
  height: 30px;
}

/* freight-info-right side */

.freight-info {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.comp-name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.review {
  width: 250px;
  display: inline-flex;
}

.review .fa-star {
  margin-right: 5px;
}

.review-text {
  margin-left: 10px;
  color: #073a7e;
}

.left-side-info {
  height: 200px;
  margin-top: 10px;
  position: fixed;
  width: 350px;
  overflow: hidden;
}

.right-side-info {
  position: fixed;
  padding: 10px;
  right: 0;
  width: 200px;
  text-align: start;
  font-size: 18px;
  color: #055bca;
  text-transform: uppercase;
}

.right-side-info .fa-star {
  font-size: 16px;
}

.hide_broker {
  margin-top: 10px;
  cursor: pointer;
}

.rate_broker {
  cursor: pointer;
}

.right-side-info .fa-star,
.fa-ban {
  margin-right: 10px;
}

.fa-circle-question {
  margin-left: 10px;
}

.messages-part {
  width: 95%;
  margin: auto;
  margin-top: 150px;
  border-top: dashed 1px #628bc9;
}

.mess_notes {
  margin-top: 20px;
  font-size: 22px;
}

.right-text {
  display: flex;
  justify-content: right;
  align-items: center;
}

.mail {
  color: #073a7e;
}

.note {
  margin-top: 20px;
}

.left-note {
  position: fixed;
  width: 60px;
}

.right-note {
  position: fixed;
  right: 0;
  margin-top: 20px;
  width: 450px;
}

.order-num {
  margin-top: 10px;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) and (max-width: 1500px) {
  #vehicle_icon {
    text-align: center;
    font-size: 20px;
  }

  .right-side-card {
    position: fixed;
    width: 40%;
    height: 100vh;
  }

  .left-side-table-data {
    width: 60%;
  }

  .fa-a {
    font-size: 50px;
  }

  .fa-b {
    font-size: 30px;
  }

  #truck-right {
    font-size: 40px;
  }

  .right-note {
    width: 350px;
  }
}

@media (min-width: 1501px) and (max-width: 1800px) {
  .right-note {
    width: 350px;
  }

  .right-side-card {
    width: 35%;
  }

  .left-side-table-data {
    position: fixed;
    overflow: scroll;
    width: 65%g;
  }

  .table-data {
    overflow: scroll;
  }
}
